@value font-color, nav-height, tablet from './variables.module.sass'
@import 'assets/styles/functions.module.sass'

\:global
  #app
    // padding-top: nav-height

body, html
  position: relative
  margin: 0
  padding:
  font-family: Silom
  color: #ffffff
  width: 100%
  height: 100%
  background-color: #24153d

h1, h2, h3, h4 ,h5
  color: #fff


body
  font-size: pxToRem(18)
  -webkit-font-smoothing: antialiased

/* 1920px is base as 10px = 1 rem */
html
  font-size: 16px

/* below 1920px */
@media tablet
  html
    font-size:  14px 

/* above 1920px */
@media screen and (min-width: 2240px)
  html
    font-size:  18px 

@media screen and (min-width: 2560px)
  html
    font-size:  21px 

@media screen and (min-width: 3840px)
  html
    font-size:  24px

a
  text-decoration: none
  color: #fff

  &:hover
    text-decoration: none
    color: #aaa

img
  backface-visibility: hidden

button
  outline: none!important
  border: none
  color: inherit
  background: none

@font-face
  font-family: "AvenirNext"
  font-weight: normal
  src: url("../fonts/Avenir/AvenirNextLTPro-Regular.otf") format("opentype")

@font-face
  font-family: "AvenirNext"
  font-weight: bold
  src: url("../fonts/Avenir/AvenirNextLTPro-Bold.otf") format("opentype")

h2
  text-decoration:underline

@font-face
  font-family: "Silom"
  font-weight: normal
  src: url("../fonts/Silom/Silom.ttf") format("truetype")

h2
  text-decoration: underline