# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# yarn output
yarn-debug.log*
yarn-error.log*
yarn.lock

# pm2 script
start.sh
