@import 'assets/styles/functions.module.sass'

.container
  display: flex
  align-items: center
  justify-content: center
  margin-top: 0.5em
  margin-bottom: 0.5em

.stat
  margin-left: 0.8em
  display: flex
  align-items: center
  flex-wrap: wrap

  &Title
    width: 100%
    font-size: pxToRem(12)
    margin-bottom: 0.5em
    text-transform: uppercase
    color: rgba(0, 0, 0, 0.75)

  &Value
    margin: 0
    margin-left: 0.2em
    font-size: pxToRem(20)
    font-weight: 500

  &Icon
    border-radius:  pxToRem(4)
    display: flex
    align-items: center
    justify-content: center